
img {


}

nav {
	background-color: #F2F3F4;
	height: 35%;
}

 li {
	display: inline;
	font-family: Times; 
	font-size: 25px; 
	font-weight: bold;
	
}

ul li {
	margin-right: 5%;
	text-decoration: none;
}

a {
	text-decoration: none;

}

p {

	font-family: georgia;
	font-size: 18px;
}

section {
		width: 100%;
		background-color: #EAF2F8;
}



h1 {
	font-size: 25px;
	padding-left: 3%;

}


}

input {
	width: 100%;
}


#trackertitle {
	text-align: center;

}

.para {

	padding: 3%;

}

.input-group  {

	padding: 1%;
}